body {
    font-family: 'Roboto', sans-serif;
    background: #FBFCFE;
    background-image: url(background1.jpg);
    background-size: cover;
    height: 100vh;
  
  }
  /* === HEADER === */
  
  /* Style the header with font and colors */

.header {
  padding: 20px;
  background-color: #264348;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  font-size: 250%;

}

  /* Style the main container with flex and background color */
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }

/* Style the search container & elements with styling */

.search-container {
  flex: 0 0 25%; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 50px;
  font-size: 150%;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

.btn {
font-size: 1.3rem;
text-decoration:none;
padding: 6px 5px;
width: 100%;
display: block;
margin: 5px 0;
border-radius: 5px;
color: whitesmoke;
background-color: #264348;
transform: translate(-1px, -1px);
}

.btn:hover {
  color: lightblue;
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

/* Style button hover with a shadow */
.btn:hover,
.btn:hover:hover.btn {
  box-shadow: inset 0px 0px 8px rgb(228, 175, 96), 0 0 15px rgb(228, 175, 96);
}


.card-body {
padding: 2.5%;
}

/* Style the current container with flex and styling */
.current-container {
flex: 0 0 75%;
display: flex;
flex-direction: column;
align-items: center;
font-size: 150%;
padding: 5%;
}

/* Style the history container with flex and styling */ 

.history-container {
flex: 0 0 25%; 
display: flex;
flex-direction: column;
font-size: 150%;
  }

.list-group {
  list-style: none;
  padding: 0;
}

.list-group-item {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color: #fff;
  background-color: #5AA5B0;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 5px;
}

.list-group-item:active {
  background-color: #2980b9;
}

/* Style the forecast container with flex and styling */ 

.forecast-container {
  flex: 0 0 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 100%;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

    
#fiveForecast {
  display: flex;
  flex-direction: row;
}

.day-container {
  border: 2px solid #ccc;
  padding: 10px;
  margin: 5px;
  width: 150px; 
}